@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Roboto', sans-serif;
}

*{
  @apply p-0 m-0 box-border
}

.shared_container{
  @apply w-[93%] xxs:w-[90%] mx-auto max-w-[1600px]
}


.bg_gradient{
  @apply bg-gradient-to-r from-blue-500 to-green-500
}
.hover_bg_gradient{
  @apply  hover:from-blue-600 hover:to-green-600 transition-all
}
.text_gradient{
  @apply !text-transparent !bg-clip-text !bg-gradient-to-tr !from-blue-500 !to-green-500
}
.hover_text_gradient{
  @apply hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-tr hover:from-blue-500 hover:to-green-500 transition-all
}

.float {  
  animation-name: ani-float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

@keyframes ani-float {
  0% { transform: translate(0,  0px); }
  50% { transform: translate(0, 15px); }
  100% { transform: translate(0, -0px); }    
}


/* WhatsApp button styling */
.wtsapp {
  position: fixed;
  transition: all 0.5s ease;
  background: #25d366;
  display: block;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* margin: 0; */
  border-radius: 50px;
  border-right: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  bottom: 30px;
  right: 20px;
  border: 0;
  z-index: 99;
  width: 50px;
  height: 50px;
  line-height: 48px;
}
.wtsapp:focus {
  border: none;
  outline: none;
}

.wtsapp::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #25d366;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
